<template name="panel">
  {{#with data}}
    <div class="pane" id="contact">

      <div class="card-wrap">
        <div class="card">
        
          <div class="avatar">
            <div class="circle"></div>
            <div class="image" style="background-image: url('{{pictureUrl}}');"></div>
          </div>
          
          <div class="info">
            <h2>{{name}}</h2>
            <div class="frequency">
    <!--           <div class="number">Every 2 Weeks</div>
              <div class="number">Contact in 3 Days</div> -->
              <div class="popup">
              
              </div>
            </div>
            {{!<a href="mailto:" class="email"></a>}}
          </div>
          
          <ul class="connected-social">
            <li class="facebook"><div class="icon">f</div></li>
            <li class="twitter"><div class="icon">t</div></li>
            <li class="linked"><div class="icon">l</div></li>
          </ul>
          
          {{>socialStream}}
          
        </div>
      </div>
    </div>
  {{/with}}
</template>

<template name="notifications">
  <div class="pane" id="notifications">
    <ul>
     <li class="feature">
       <h1>Contact Soon:</h1>
       <ul>

        {{#each upcoming}}
        <li class="feature-person">
          <div class="avatar">
            <div class="circle"></div>
            <div class="image" style="background-image: url('{{contact.pictureUrl}}');"></div>
          </div>

          <div class="info">
            <h2>{{name}}</h2>
            <div class="frequency">
              <div class="number">{{nextContactString nextContact}}</div>
              <div class="popup">

              </div>
            </div>
            {{!<a href="mailto:email" class="email">email</a>}}
          </div>

          <ul class="connected-social">
            <li class="facebook"><div class="icon">f</div></li>
            <li class="twitter"><div class="icon">t</div></li>
            <li class="linked"><div class="icon">l</div></li>
          </ul>
          {{>socialStream}}

        </li>
        {{/each}}
      </ul>
    </li>

    {{#each future}}
    <li class="basic">
      <div class="countdown">{{nextContactString nextContact}}</div>
      <p>You should contact {{{names}}} in {{nextContactString nextContact}}.</p>
    </li>
    {{/each}}
  </ul>

  </div>
</template>

<template name="socialStream">
  <ul class="social">
    {{#each streams}}
    {{>story}}
    {{/each}}
  </ul>
</template>

<template name="story">
  <li class="event"><a href="{{url}}">{{relative}}: {{update}}</a></li>
</template>